<div class="about">
    <h1>EMS</h1>
    <p><b>EMS</b> is a Employee Management System which is uses Angular 8 as frontend and Spring Boot as backend. This application build for demonstration purpose.</p> 
    <p>This application as frontend application which build help of TypeScript.</p> 
    This application consume data from backend <a href="https://github.com/rashed-08/EmployeeManagement">EmployeeManagement</a> services.

    <p>This application is basic CRUD application which is collaborate with backend.</p>

    <h3>Future exhancement development includ</h3>
    <ul>
        <li><b>OAuth2</b></li>
        <li><b>Spring Security</b></li>
        <li><b>Docker</b></li>
        <li><b>Travis CI</b></li>
        <li><b>Heroku</b></li>
    </ul>
</div>